
#notifications_icon {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
}

#notifications_div {
    position: relative;
}

#notifications_holder {
    border-radius: 5px;
    position: absolute;
    top: 38px;
    height: 100px;
    width: 500px;
    right: -55px;
    background-color: white;
    box-shadow: 0px 9px 12px -9px rgba(0,0,0,0.4);
}


.notif_triangle {
    position: absolute;
    top: 26px;
    left: 8px;
}