
#heart_icon {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
}

#heartIconContainer {
    position: relative;
}

.notif_triangle {
    position: absolute;
    top: 26px;
    left: 8px;
}

.new_notifications {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 17.9px;
    bottom: -12px;
    background-color: rgb(240, 92, 92);
    border-radius: 50%;
}



.follow_request {
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 50px;
    border: none;
}

#heartIconDropdown {
    border-radius: 5px;
    position: absolute;
    margin: 0px;
    top: 38px;
    min-height: 100px;
    max-height: 350px;
    width: 560px;
    right: -55px;
    background-color: white;
    box-shadow: 0px 9px 12px -9px rgba(0,0,0,0.4);
    overflow-y: auto;
    overflow-x: hidden;
}

#follow_requests_container {
    @include flexbox-center();
    @include system-fonts();
    cursor: pointer;
    justify-content: space-between;
    height: 55%;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    margin-right: 0px;
    padding: 0px;
    border-right: none;
    #follow_req_info_container {
        @include flexbox-center();
        position: relative;
        top: 6px;
        
    }
    #num_follow_req {
        @include flexbox-center();
        justify-self: center;
        color: white;
        height: 35px;
        width: 35px;
        margin-right: 15px;
        border-radius: 50%;
        background-color: var(--notification-color);
        margin-left: 15px;
    }

    h3 {
        font-size: 14px;
        margin-bottom: 0px;
        font-weight: 600;
    }

    p {
        color: rgba(var(--f52,142,142,142),1);
        margin-top:5px;
        font-size: 14px;
    }
}

.notification {
    @include flexbox-center();
    font-size: 14px;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 0px;
    width: 100%;
}


.profile_img {
    margin-left: 15px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.notif_username {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.notif_username_div {
    margin-right: 3px;
    margin-left: 8px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notif_descr_div {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;   
    white-space: nowrap; 
}

.notif_descr {
    overflow: hidden;
    text-overflow: ellipsis;  
}

.notif_descr {
    display: inline;
    margin-right: 7px;
}


.notification_hr {
    margin: 0px;
    width: 100%;
    border: none;
    height: 0.1px;
    background-color: rgb(216, 216, 216);
}

.notif_time_elapsed {
    color: rgb(146, 145, 145);
}

.photo_notif_targets {
    width: 33px;
    height: 33px;
    margin-right: 6px;
}
.userInformation_notif {
    @include flexbox-center();
}

.profile_img_names_container {
    @include flexbox-center();
    height: 50px;
    border: none;
}

#follow_requests_div {
    display: none;
}

.side_triangle {
    position: relative;
    transform-origin: right;
    left: -5px;
    top: 9px;
    width: 24px;
    height: 25px;
    overflow: hidden;
}

.side_triangle::after {
    content:"";
    position: absolute;
    left: -28px;
    top: -3px;
    border: 2px solid rgb(180, 177, 177);
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
}

.request_names {
    display: inline;
    height:50px;
    max-width: 270px;
    margin-left: 12px;
    h3 {
        position: relative;
        top: 3px;
        margin-top: 3px;
        font-size: 14px;
        margin-bottom: 0px;
        font-weight: 600;    
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p {
        color: rgba(var(--f52,142,142,142),1);
        margin-top:5px;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.follow_req_buttons {
    @include flexbox-center(); 
    
    .button_fr {
        @include flexbox-center();
        border: 1px solid;
        width: 75px;
        height: 30px;
        padding: 0px;
        margin-right: 8px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }

    .confirm_button {
        background-color: #0095f6;
        color: white;
    }

    .delete_button {
        border-color: rgb(170, 170, 170);
    }
}


.sk-chase-notif {
    display: none;
    color: black;
    width: 25px;
    height: 25px;
    z-index: 3;
    position: absolute;
    left: 280px;
    top: 35px;
}

.sk-chase-dot-notif:before {
    background-color: black;
}
