@import './homePagePosts.scss';
@import './homePageStories.scss';
@import './suggestionsForYou.scss'; 

#home_page_div {
    @include flexbox-center();
    min-height: 90vh;
    height: auto;
}


#posts_stories_holder {
    display: flex;
    position: relative;
    right: 160px;
    flex-direction: column;
    height: auto;
    min-height: 90vh;
    width: 100%;
    max-width: 614px;
}
