#home_page_posts_top_holder {

    .homepage_post {
        border: 1px solid rgba(0,0,0,0.2);
        margin-bottom: 60px;
        width: 100%;
        max-height: 900px;
    }

    .profile_pic_username_options_holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
    }
    .profile_pic_username_holder {
        display: flex;
        align-items: center;
        text-overflow: ellipsis;
    }

    .ellipis_post {
        margin-right: 35px;
        transform: scale(1.4);
        cursor: pointer;
    }

    .username_homepage_post {
        margin-left: 15px;
        font-size: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 455px;
        white-space: nowrap;
        cursor: pointer;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .homepage_post_imageHolder {
        @include flexbox-center();
        max-height: 600px;
        background-color: black;
        border: 1px solid;
    }

    .homepage_post_img {
        width:100%;
        height: auto;
    }

    .homepage_post_options {
        margin-left: 15px;
    }

    .likesHomepageHolder {
        p {
            display: inline;
        }
    }

    .iconsHomePageContainer {
        height: 100px;
    }

    .homepage_main_icon_holder {
        margin-left: 0px;
    }

    .username_caption_holder {
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        margin-top: 8px;
        .username_for_caption {
            margin-left: 0px;
            font-weight: 600;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .caption_homepage_post {
            display: inline;
            margin-left: 3px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .comment_holder {
        margin-top: 5px;
        p {
            display: inline;
            color: #8e8e8e;
            font-weight: 400;
            font-size: 14px;
        }

        .num_comments_homepagepost {
            margin-left: 3px;
        }
    }

    .add_comment_holder {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgba(0,0,0,0.2);
        margin-left: 0px;

        p {
            margin-right: 15px;
            color: #0095f6;
            font-size: 13px;
            font-weight: 600;
        }

        textarea {
            width: 80%;
            @include system-fonts();
            padding-top: 15px;
            border: none;
            outline: 0;
            resize: none;
            margin-left: 10px;
        }
    }
}

.post_num_liked {
    margin-left: 3px;
    font-weight: bold;
    cursor: pointer;
}