@import './homePagePosts.scss';
@import './homePageStories.scss';
@import './suggestionsForYou.scss'; 

#home_page_div {
    @include flexbox-center();
    min-height: 90vh;
    height: auto;
}


#posts_stories_holder {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 90vh;
    width: 100%;
    max-width: 614px;
    background-color: white;
    margin-right: 28px;
}
