@media(max-width: 1000px) {
    #suggestions_for_you_top_holder {
        display: none; 
    }

    #posts_stories_holder {
        right: 0px;
    }

}

@media (max-width: 600px) {

    #home_page_posts_top_holder {
        .username_homepage_post {
            max-width: 320px;
        }

        .homepage_post {
            border: none;
            background-color: inherit;
        }
        
        .add_comment_holder {
            display: none;
        }
    }

    #home_page_stories_top_holder {
        margin-top: 60px;
    }
}