#suggestions_for_you_top_holder {
    width: 293px;
    min-height: 50vh;
    background-color: white;
    align-self: flex-start;

}

#own_user_info_holder {
    margin-top: 70px;

    h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px;
    }

    p {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 170px;
    }
}