#suggestions_for_you_top_holder {
    width: 293px;
    min-height: 250px;
    background-color: white;
    align-self: flex-start;
    position: fixed;
    background-color: var(--main-bg-color);
    margin-left: 690px;
}

#prof_pic_suggested {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    cursor: pointer;
}

#username_fullname_suggested_own {
    margin-left: 20px;
}

#own_user_info_holder {
    margin-top: 110px;
    display: flex;
    align-items: center;
    h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px;
        margin: 0px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    p {
        margin: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 170px;
    }

    .text_suggestions_blue_small {
        margin-left: auto;
    }
}


#suggestions_group_holder {
    margin-top: 10px;

    h3 {
        font-size: 14px;
        color: #8e8e8e;
        font-weight: 600;
    }

    #suggestions_descr_holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    p {
        font-size: 13px;
        font-weight: 500;
    }
}
.suggestion_individual_holder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;

    .img_suggestion {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .username_suggestion_holder {
        margin-left: 10px;
        p {
            margin: 0px;
            font-size: 10px;
            color: #8e8e8e; 
        }

        h5 {
            margin: 0px;
            cursor: pointer;
            font-weight: 600;
        }
    }

}

.text_suggestions_blue_small {
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    color: #0095f6;
    cursor: pointer;
    margin-left: auto;
}