#edit_profile_topleveldiv {
    height: auto;
    min-height: 90vh;
    @include flexbox-center();
    flex-direction: column;

    #form_elements_editprofile {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        min-height: 50vh;
        width: 100%;
    }
    #edit_profile_form {
        border: 1px solid rgba(0,0,0,0.4);
        height: auto; 
        min-height: 50vh;
        min-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: white;

        #spinner_div_form {
            display: none;
            height: 80px;
            width: 80px;
        }

        .sk-chase-dot-formspinner:before {
            background-color: gray;
        }
        
    }
    .edit_profile_div {
        @include flexbox-center();
        display: flex;
        width:100%;
        position: relative;
    }

    .labeldiv_editprofile {
        display: flex;
        justify-content: flex-end;
        width: auto;
        position: absolute;
        left: 15px;
        min-width: 20%;
        margin-right: 20px;
    }

    .edit_profile_labels {
        font-size: 14px;
        font-weight: bold;
    }

    .inputdiv_editprofile {
        min-width: 45%;

        input {
            width: 100%;
        }

        textarea {
            @include system-fonts();
            width: 100%;
            height: 60px;
            font-size: 14px;
        }
    }


    #profile_buttons {
        width: 100%;
        position: relative;
        @include flexbox-center();

        #spinner_div_editprofile {
            display: none;
            position: relative;
        }
        #submit_editprofile {
            @include flexbox-center();
            color: white;
            background-color: #0095f6;
            border-radius: 4%;
            border: none;
            padding: 10px;
            margin-right: 10px;
            height: 45px;
            min-width: 85px;
            cursor: pointer;
        }

        #goback_editprofile{
            padding: 10px;
            min-width: 85px;
            height: 45px;
            border: none;
            cursor: pointer;
        }
    }

    #error_success_div {
        @include flexbox-center(); 
        color: red;
        width: 100%;
        text-align: center;
        position: relative;
        white-space: wrap;
    }

    #error_success_p {
        max-width: 250px;
        text-align: center;
        margin: 0px;
    }
    #edit_profile_header {
        @include flexbox-center();
        flex-direction: column;
        position: relative;
        width: 100%;

        #username_profilepicture_div{
            @include flexbox-center();
        }
        #edit_profile_profilepic {
            position: relative;
            right: 15px;
            width:50px;
            height: 50px;
            border-radius: 50%;
        }
        h3 {
            margin: 0px;
            text-align: center;
            width:100%;
        }

        label {
            color: rgb(40, 160, 230);
            cursor: pointer;
            border: none;
            margin-top: 10px;
            position: relative;
        }

        #img_input {
            display: none;
        }

        #spinner_div_picedit {
            margin-right: 16px;
        }
        
        .sk-chase-dot-profilepicspinner:before {
            background-color: #8e8e8e;
        }

        
    }
}

