
#user_profile_info_container {
    @include flexbox-center();
    align-self: flex-start;
    width: 100%;
}


#profile_page_profpic_divcontainer {
    position: relative;
    left: 25px;
    #profile_page_profpic {
        display: flex;
        align-items: flex-start;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        cursor: pointer;
    }
}

#profile_info_directparentdiv {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    left: 80px;
}

#name_options_divcontainer {
    @include flexbox-center();
    justify-content: flex-start;
    width:auto;
    min-width: 100%;

    #follow_user {
        position: relative;
        background-color: #0095f6;
        color: white;
        padding: 8px;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 4px;
        cursor: pointer;
        font-weight: 600;
        font-size: 13px;
        width: 80px;
        height: 33px;
        p {
            display: inline;
        }

        #spinner_div_follow {
            display: none;
            left: 22px;
        }

    }

    #message_user {
        display: none;
        position: relative;
        font-weight: 600;
        font-size: 13px;
        padding: 8px;
        border-radius: 4px;
        cursor: pointer;
        width: 80px;
    }

    #own_profile_options {
        @include flexbox-center();
        display: none;

        .options_item {
            margin-left: 25px;
        }
    }

    #three_dots_options {
        transform: scale(1.5);
        cursor: pointer;
    }
    #other_profile_options {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 60%;

        .options_item {
            margin-left: 15px;            
        }

    }

    

    #profile_page_username_header {
        font-size: 23px;
        font-weight: 400;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 320px;
    }
    #profilepg_settingicon {
        position: relative;
        top: 2px;
        height: 25px;
        width: 25px;
        cursor: pointer;
    }

    #edit_profile {
        cursor: pointer;
        position: relative;
        top: 2px;
        user-select: none;
        background-color: transparent;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 4px;
        font-weight: 600;
        padding: 5px 9px;
        text-align: center;
        height:30px;
        width: 100px;
    }

    #edit_profile:focus {
        outline: 0;
    }
}

.following_user {
    background-color: var(--main-bg-color) !important;
    border: 1px solid rgba(0,0,0,0.2) !important;
    margin-right: -4px;
}

.sk-chase-dot-follow::before {
    background-color: rgb(241, 163, 202);
}

.following_icon {
    color: black;
}
#meta_info_user_normalviewport {
    display: flex;
    margin-top: 2px;
    width: 320px;

    .meta_info_user_divcontainer {
        margin-right: 20px;
        margin-bottom: 10px;

    }

    .post_info_counts {
        display: inline;
        margin-right: 6px;
        font-weight: bold;
    }

    .post_info_descr{
        display: inline;
    }

    #follower_info_div {
        cursor: pointer;
    }

    #following_info_div {
        cursor: pointer;
    }
}


.container_following_followers {
    position: fixed;
    height: 100%;
    width: 100%;
    @include flexbox-center;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 20;
    pointer-events: auto;
    cursor: auto;
    display: none;

    .followUserButtonBoxes {
        background-color:#0095f6 !important;
        color: white;
    }

    .following_followers {

        min-height: 400px;
        width: 100%;
        max-height: 400px;
        max-width: 400px;
        min-width: 200px;
        border: 1px solid rgba(0,0,0,0.2);
        background-color: white;
        border-radius: 5%;
        overflow: auto;
    }

    i {
        cursor: pointer;
    }


    .followerfollowing_userrelationship {
        width: 82px;
        background-color: white;
        font-weight: 600;
        height: 28px;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 4px;
        cursor: pointer;
    }
    
    .followerfollowing_curr_user {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .img_followingfollower {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }


    .img_name_holder_followerfollowing {
        width: 250px;
        display: flex;
        justify-content: flex-start;
        align-items: center; 

        .name_username_holder_followerfollowing {
            max-width: 85%;
            margin-left: 8px;
        }

        h3 {
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 4px;
            white-space: nowrap;
            cursor: pointer;
        }

        p {
            font-size: 13px;
            margin-top: 0px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    }
}

.descr_cancel_container {
    @include flexbox-center();
    border-bottom: 1px solid rgba(0,0,0,0.2);

    p {
        text-align: center;
        font-weight: 600;
        width: 80%;
    }
    i {
        transform: scale(1.5);
    }
}

.sk-chase-FFBoxes {
    position: relative;
    left: 170px;
    top:50px;
    width: 35px;
    height: 35px;
}

#profile_info_bio {
    width: auto;
    max-width: 500px;
    overflow: hidden;
    word-wrap: break-word;
    #fullname_profile {
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 0px;
    }
    
    #editable_bio_info {
        margin-top: 5px;
        @include system-fonts();
        font-size: 15px;
        white-space: pre-wrap;
        max-width: 450px;
    }
}

.arrow_tip_down {
    position: relative;
    width: 35px;
    height: 33px;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #0095f6;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.arrow_tip_down::before {
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    top: 13px;
    left: 11px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid;
}

.profile_options_blackout {
    right: 0px;
    top: 0px;
}
