#user_toggle_profile_views_container {
    @include flexbox-center();
    width: 100%;
}

#direct_parent_container {
    position: relative;
    border-top: 1px solid #8e8e8e;
    @include flexbox-center();
    width: 700px;
}

.toggle_containers {
    @include flexbox-center();
    color: #8e8e8e;
    cursor: pointer;
    margin-right: 35px;
    white-space: nowrap;
    border-top: none;

    .toggle_icons {
        margin-right: 6px;
        transform: scale(0.7);
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1.1px;
    }

    .posts_descr {
        font-size: 13px;
        font-weight: 400;
    }

    #posts_div {
        border-top: 1px solid black;
    }
}

#uploadPhoto {
    display: none;
}

#labelUploadPhotos {
    cursor: pointer;
}

#error_adding_post {
    color: red;
    display: none;
    margin-right: 5px;
}

#spinner_div_upload {
    display: none;
    margin-right: 12px;
}