#user_profile_posts_overallholder {
    @include flexbox-center();
    flex-direction: column;
    min-height: 50vh;
    width: 100%;
}

#grid_container_images {
    display: none;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px 30px;
    height: auto;
    margin-top: 20px;
}


.grid_photo_div {
    position: relative;
    .grid_photo {
        width: 100%;
        max-width: 290px;
        display: block;
    }

    .grid_photo_information {
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
        cursor: pointer;
    }
}

#num_comments_post {
    color: white;
    display: inline;
    margin-left: 7px;
}

#likes_holder {
    @include flexbox-center();
    width: 25%;
}

#comments_holder {
    @extend #likes_holder;
}

#num_likes_post {
    color: white;
    display: inline;
    margin-left: 7px;
}

.comment {
    color: white;
    transform: scale(1.2);
}

.grid_photo_div:hover {
    display: block;
    .grid_photo_information {
        display: flex;
    }
}

#spinner_div_photos {
    display: block;
    width: 50px;
    height: 50px;
}

.sk-chase-posts:before {
    background-color: black;
}

#no_posts_found {
    margin-top: 20px;
    display: none;
    align-items: center;
    flex-direction: column;
    width: 100%;

    h1 {
        margin-top: 45px;
        font-size: 26px;
        font-weight: 400;
    }
}

.likes_icon_post {
    transform: scale(1.2);
    color: white;
}

#camera_icon {
    transform: scale(2);
    border: 1px solid;
    border-radius: 50%;
    padding: 7px;
}

#camera_no_posts_found {
    border-radius: 50%;
    font-size: 20px;
}

#infinite_scrolling_div_profiles {
    display: none;
    height: 30px;
    width: 30px;
    margin-top: 40px;
}

#focused_container {
    display: none;
    position: fixed;
    max-height: 700px;
    max-width: 1000px;
    width: 98%;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: white;
    top: 13%;

    #overall_flex_container_photofocused {
        display: flex;
    }
    
    #photo_focused_on {
        width: 100%;
        display: block;
    }

    #img_focused_divcontainer {
        width: 70%;
        @include flexbox-center();
        background-color: black;
    }

    #comments_section_div {
        overflow: auto;
        height: 75%;
        border-bottom: 1px solid rgba(0,0,0,0.3);
    }

    #date_added {
        font-size: 12px;
        color:#8e8e8e; 
        margin-left: 9px;
        margin-top:6px;
        margin-bottom: 9px;
    }

    #info_img_divcontainer {
        width: 30%;
        min-height: 660px;
        min-width: 250px;
        overflow: hidden;
        #profileNamePictureDiv {
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid rgba(0,0,0,0.3);
            padding: 5px;
        }

        #optionsProfileDiv {
            @include flexbox-center();
            margin-right: 8px;
        }

        #focusOptions {
            transform: scale(1.4);
            cursor: pointer;
        }

        #profileNamePictureFlexboxFocus {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 90%;
        }

        #profilePictureFocus {
            margin-left: 5px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        #usernameFocus {
            margin-left: 8px;
            font-size: 13px;
            overflow: hidden;
            font-weight: 600;
            text-overflow: ellipsis;
        }
    }

    #commentIconsFlexboxContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 35px;
    }

    #likeCommentDMFlexboxContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 200px;
        height: 100%;
        margin-left: 13px;
    }

    .focus_icons {
        transform: scale(1.5);
        margin-right: 15px;
        cursor: pointer;
    }

    #like_add_comment_div {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    #add_comment_holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgba(0,0,0,0.3);
        overflow: hidden;
        label {
            display: none;
        }
        
        textarea {
            @include system-fonts();
            @include flexbox-center();
            width: 80%;
            border: none;
            resize: none;
            margin-left: 10px;
            outline: 0;
            padding-top: 14px;
        }

        #submit_comment {
            color: #0095f6;
            font-size:13px;
            font-weight: bold;
            margin-right: 10px;
            cursor: pointer;
        }
    }

    #usersWhoLikedBox {
        p {
            font-size: 14px;
            display: inline;
            margin-left:10px;            
        }

        #num_peoples_liked_focus {
            margin-left: 5px;
            font-weight: bold;
            cursor: pointer;
        }

    }

}


.sk-chase-infscroll:before {
    background-color: black;
}
