
#user_profile_info_container {
    @include flexbox-center();
    align-self: flex-start;
    width: 100%;
    position: relative;
    left: -90px;
}


#profile_page_profpic_divcontainer {
    position: relative;
    #profile_page_profpic {
        display: flex;
        align-items: flex-start;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        cursor: pointer;
    }
}

#profile_info_directparentdiv {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    left: 80px;
}

#name_options_divcontainer {
    @include flexbox-center();
    justify-content: flex-start;
    
    #profile_page_username {
        font-size: 28px;
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
    }

    .options_item {
        margin-right: 25px;
    }

    #profilepg_settingicon {
        position: relative;
        top: 2px;
        height: 25px;
        width: 25px;
        cursor: pointer;
    }

    #edit_profile {
        cursor: pointer;
        position: relative;
        top: 2px;
        user-select: none;
        background-color: transparent;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 4px;
        font-weight: 600;
        padding: 5px 9px;
        text-align: center;
        height:30px;
        width: 100px;
    }

    #edit_profile:focus {
        outline: 0;
    }
    

}


#meta_info_user_normalviewport {
    display: flex;
    margin-top: 20px;
    width: 320px;

    .meta_info_user_divcontainer {
        margin-right: 20px;
    }

    .post_info_counts {
        display: inline;
        margin-right: 6px;
        font-weight: bold;
    }

    .post_info_descr{
        display: inline;
    }

    #follower_info_div {
        cursor: pointer;
    }

    #following_info_div {
        cursor: pointer;
    }
}

#profile_info_bio {
    width: auto;
    max-width: 500px;
    overflow: hidden;
    #fullname_profile {
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    #editable_bio_info {
        @include system-fonts();
        font-size: 14px;
    }
}