@media (max-width: 750px) {

    // top most container
    #user_profile_info_container {
        width:100%;
        height: 40%;
        margin-bottom: 40px;
    }

    #profile_info_directparentdiv {
        position: relative;
    }

    #profile_page_profpic_divcontainer {
        left: 35px;
        #profile_page_profpic {
            width: 90px;
            height: 90px;
        }

        .options_item {
            margin-right: 2px;
        }
    }

    #name_options_divcontainer {
        width:300px;
        #profile_page_username {
        }

        #edit_profile {
            position: absolute;
            width: 55vw;
            top: 70px; 
        }
    }

    #profile_info_directparentdiv {
        left: 65px;
    }

    #meta_info_user_normalviewport {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        top: 35px; 
    }

    #profile_info_bio {
        position: relative;
        top: 25px; 
        #fullname_profile {
            font-weight: bold;
        }
    }

    #resize_together_container {
        width: 100%;
    }
    // middle container -- toggle views
    #user_toggle_profile_views_container {
        position: relative;
        width: 100%;
    }

    #direct_parent_container {
        width: 100%;
        display: flex; 
        justify-content: space-evenly;
        height: 29px;
    }

    .toggle_containers {
        // margin-right: 65px;
    }

    .posts_descr {
        display: none;
    }

    .toggle_icons {
        transform: scale(1.5) !important;
        margin-top: 9px;
    }

    // grid photos media queries
    #user_profile_posts_overallholder {
        grid-gap: 5px 5px;
    }
}