@import "_userProfileInfo.scss";
@import "_userProfileToggleViews.scss";
@import "_userProfileGrid.scss";

#user_profile_top_level_div {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 90vh;
    width: 100%;
}

#resize_together_container {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: 90px;
}