@import "_userProfileInfo.scss";
@import "_userProfileToggleViews.scss";
@import "_userProfileGrid.scss";
@import "_editProfileStyles.scss";

#user_profile_top_level_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 90vh;
    width: 100%;
}

#resize_together_container {
    height: auto;
    margin-top: 60px;
}

.sk-chase-userprofile {
    position: relative;
    width: 55px;
    height: 55px;
}

.sk-chase-dot-userprofile::before {
    content: "";
    background-color: black;
}

#user_not_found_container {
    text-align: center;
    p {
        display: inline;
    }
    #back_to_ig {
        display: inline;
        margin-left: 6px;   
        text-decoration: none;
        color: rgb(37, 110, 192);
    }

    #back_to_ig:visited {
        color: rgb(37, 110, 192);
    }
}
