
@media (max-width: 800px) {
    #resize_together_container {
        width: 100%;
        margin-top: 56px;
    }
    // top most container containing information about the user including profile pic
    // number of posts, followers, etc
    
    #user_profile_info_container {
        @include flexbox-center();
        width:100%;
        margin-bottom: 25px;
        height: auto;
    }

    #profile_info_directparentdiv {
        position: relative;
        width: auto;
        height: auto;
        left: 0px;
        top: 0px;
    }




    #profile_page_profpic_divcontainer {
        margin-right: 48px;
    
        #profile_page_profpic {
            width: 120px;
            height: 120px;
        }

        .options_item {
            margin-right: 2px;
        }
    }

    #name_options_divcontainer {
        position: relative;
        #follow_user {
            width: 80px;
        }

        #other_profile_options {
            position: absolute;
            top: 65px; 
            left: -15px;
            width: auto;
        }

        #profile_page_username_header {
            max-width: 270px;
        }

        #edit_profile {
            position: absolute;
            width: 40vw;
            top: 62px; 
            left: -25px;
        }
    }

    #meta_info_user_normalviewport {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        top: 35px; 
    }

    #profile_info_bio {
        position: relative;
        top: 25px;
        max-width:300px; 
        #fullname_profile {
            font-weight: bold;
        }
    }
    // middle container -- toggle views
    #user_toggle_profile_views_container {
        position: relative;
        width: 100%;
    }

    #direct_parent_container {
        width: 100%;
        display: flex; 
        justify-content: space-evenly;
        height: 29px;
    }

    .toggle_containers {
        border-top: none !important;
    }

    .posts_descr {
        display: none;
    }

    .toggle_icons {
        transform: scale(1.5) !important;
        margin-top: 9px;
    }

    .active_toggle_icon {
        color: rgb(0, 153, 255);
    }
    // grid photos media queries
    #user_profile_posts_overallholder {
        grid-gap: 5px 5px;
    }
}