@import "_mixins.scss";
@import url('https://fontsfree.net/billabong-font-download.html');

.auth_holder {
    @include flexbox-center(); 
    flex-direction: column;
    height: 90%;
    background-color: var(--main-bg-color);
}

.auth_info {
    @include flexbox-center();
    flex-direction: column;
    padding: 20px;

}

.form_auth {
    @include flexbox-center();
    flex-direction: column;
    width: 100%;
}

.name_form_auth {
    @include flexbox-center();
    background-color: white;
    flex-direction: column;
    border: 2px solid var(--border-color);
    padding: 0px 20px 20px 20px;
    width: 100%;
}

h2 {
    margin-top: 0px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: var(--font-color-gray);
    margin-bottom: 20px;
}

.instagram_name {
    font-family: 'Billabong', cursive;
    padding: 25px;
    margin-top: 0px;
    width: 100%;
    margin-bottom: 0px;
}

.auth_link {
    @include flexbox-center();
    margin-top: 10px;
    border: 1px solid;
    padding: 5px 0px 5px 0px;
    background-color: white;
    width: 100%;
    font-size: 13px;
    border: 2px solid var(--border-color);

    a {
        text-decoration: none;
        color: #0095f6; 
    }
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 6px;
    height: 35px;
    border: 1px solid var(--border-color);
    background-color: var(--main-bg-color);
}

.submitInp {
    text-align: center;
    padding: 0px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #0095f6;
    color: white;
    font-weight: bold;
    border-color: transparent;
    border-radius: 5px;
    height: 30px;
}

.authInputs::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    @include system-fonts();
    font-size: 12px;
}
  
.authInputs::-webkit-input-placeholder {
    @include system-fonts();
}
  
.authInputs:-ms-input-placeholder {
    @include system-fonts();
}

.authInputs::-moz-placeholder {
    @include system-fonts();
}