// This SASS stylesheet contains styles applied globally across multiple different components in the frontend 
@import "_mixins.scss";
* {
    box-sizing: border-box; 
}

:root {
    --main-bg-color: #fafafa; 
    --font-color-gray: rgba(var(--f52,142,142,142),1);
    --border-color: #dbdbdb; 
    --darker-border-color: #c2bdbd;
    --darker-border-color: #a7a6a6;
    --jb7: 0,0,0;
    --notification-color: #ed4956;
}

body, #root, html, .App{
    margin: 0; 
    @include system-fonts();
    position: relative;
}

html {
  width: 100%;
  height: 100%;
}

#footer {
    @include flexbox-center();
    height: 10vh;
    background-color: var(--main-bg-color);

    a {
        text-decoration: none;
        color:var(--font-color-gray); 
        font-size: 15px;
    }
}

.overlay_div_blackout {
  pointer-events: none;
  position: absolute;
  background-color: rgba(0,0,0,0.15);
  width: 100%;
  height: 100%;
  display: none;
}

.userpg_profpic_blackout {
  right:0;
  top:0;
  border-radius: 50%;
}

.likeCommentDMFlexboxContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 100%;
  margin-left: 13px;
}

.focus_icons {
  transform: scale(1.5);
  margin-right: 15px;
  cursor: pointer;
}

.commentIconsFlexboxContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}



// loader animation -- used for many elements so included in globals
.sk-chase {
    display: none;
    width: 18px;
    height: 18px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
}
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }