@import url("https://fontsfree.net/billabong-font-download.html");
* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #fafafa;
  --font-color-gray: rgba(var(--f52,142,142,142),1);
  --border-color: #dbdbdb;
}

body, #root, html, .App {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: var(--main-bg-color);
}
#footer a {
  text-decoration: none;
  color: var(--font-color-gray);
  font-size: 15px;
}

.auth_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
  background-color: var(--main-bg-color);
}

.auth_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.form_auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.name_form_auth {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  border: 2px solid var(--border-color);
  padding: 0px 20px 20px 20px;
  width: 100%;
}

h2 {
  margin-top: 0px;
  text-align: center;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: var(--font-color-gray);
  margin-bottom: 20px;
}

.instagram_name {
  font-family: "Billabong", cursive;
  padding: 25px;
  margin-top: 0px;
  width: 100%;
  margin-bottom: 0px;
}

.auth_link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 1px solid;
  padding: 5px 0px 5px 0px;
  background-color: white;
  width: 100%;
  font-size: 13px;
  border: 2px solid var(--border-color);
}
.auth_link a {
  text-decoration: none;
  color: #0095f6;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 6px;
  height: 35px;
  border: 1px solid var(--border-color);
  background-color: var(--main-bg-color);
}

.submitInp {
  text-align: center;
  padding: 0px;
  margin-top: 5px;
  cursor: pointer;
  background-color: #0095f6;
  color: white;
  font-weight: bold;
  border-color: transparent;
  border-radius: 5px;
  height: 30px;
}

.authInputs::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
}

.authInputs::-webkit-input-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.authInputs:-ms-input-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.authInputs::-moz-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*# sourceMappingURL=App.css.map */
