@media (max-width: 750px) {

    #user_profile_info_container {
    }

    #profile_info_directparentdiv {
        position: relative;
        left: 20px;
    }

    #profile_page_profpic_divcontainer {
        left: -35px;
        #profile_page_profpic {
            width: 90px;
            height: 90px;
        }

        .options_item {
            margin-right: 2px;
        }
    }

    #name_options_divcontainer {
        width:300px;
        #profile_page_username {
        }

        #edit_profile {
            position: absolute;
            width: 55vw;
            top: 70px; 
            left: -2px; 
        }
    }

    #profile_info_directparentdiv {
        left: -2px;
    }

    #meta_info_user_normalviewport {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        top: 35px; 
    }

    #profile_info_bio {
        position: relative;
        top: 45px; 
        #fullname_profile {
            font-weight: bold;
        }
    }
    
}